{
  "presets": ["env"],
  "plugins": [
    ["babel-plugin-root-import"],
    ["transform-object-rest-spread"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
